extends ../signLayout

block content
	article#sign.sign-editor
		//section(v-for="obj in signForm")

		section(v-for="obj,i in signForm",v-bind:style='{"text-align":obj.type==5?"center":""}',v-bind:class='["section-type-"+obj.type +" "+(obj.is_edit?"c":"")]')
			input.sign-txt(v-if="obj.type==1",v-bind:placeholder="obj.context?obj.context:(obj.name?'请输入'+obj.name:'未设置，点击以进行编辑')",v-model:value="obj.value")
			textarea.sign-area(v-if="obj.type==2",v-bind:placeholder="obj.context?obj.name+''+obj.context:'请输入'+obj.name",v-model:value="obj.value")
			select.sign-select(v-if="obj.type==3",v-bind:placeholder="obj.context",v-model="obj.value")
				option(disabled,value="",checked="checked",v-bind:value="obj.value") 请选择{{obj.name}}
				option(v-for="opt,j in obj.option.split(',')",v-bind:value="opt") {{opt}}
			.valid-code(v-if="obj.type==20")
				input(type="text",v-bind:placeholder="obj.context?obj.context:'请输入'+obj.name")
				button(v-on:click="postCode()") 发送验证码
			p.sign-font(v-if="obj.type==6") {{obj.context}}
			image(v-if="obj.type==5",v-bind:src="obj.src")

			aside(v-on:click="show_editor(obj,i)")
			// aside
			// 	a.sign-del 删除
			// 	a.sign-edt 编辑
			//input.sign-txt(v-bind:placeholder="obj.context?obj.context:'未设置，点击编辑按钮进行编辑'")
		button.add-signform(v-on:click="signForm_add") +添加新项

		.sign-editor-menu(v-bind:style="{'-webkit-transform':edit_index>-1?'translate(0)':''}")
			h5
				a(v-on:click="signForm_del") ×
				label 编辑表单
			i(v-if="edit_index>-1",v-on:click="cancelChoose") 收起 >
			ul(v-if="edit_index>-1")
				li()
					input(type="text",placeholder="导出时字段名(如:姓名)",v-model='signForm[edit_index].name')
					//p 如：姓名
				li()
					input(type="text",placeholder="请输入描述(如:请输入姓名)",v-model='signForm[edit_index].context')
					//p 如:请输入姓名
				li
					//p 1 单行文本框，2 多行文本框 ，3，单选框 4，多选框，5，图片，6，文字描述，  20，短信验证码
					-var opt=[{k:1,v:'单行文本框'},{k:2,v:'多行文本框'} ,{k:3,v:'单选框'}, {k:4,v:'多选框'},{k:5,v:'图片'},{k:6,v:'文字描述'},{k:20,v:'短信验证码'}];
					select.editor-type-select(v-model="signForm[edit_index].type")
						each item in opt
							option(value="#{item.k}") #{item.v}
				li(v-if="signForm[edit_index].type==3")
					input(type="text",placeholder="输入选项，以英文逗号隔开",v-model='signForm[edit_index].option')
				li(v-if="signForm[edit_index].type==1")
					-var vopt=[{k:0,v:'无需验证'},{k:1,v:'手机验证'},{k:2,v:'身份证验证'}];
					//p //0 无验证，1 手机号码验证，2 身份证号码验证，
					select(v-model="signForm[edit_index].valid")
						each item in vopt
							option(value='#{item.k}') #{item.v}
				li(v-if="signForm[edit_index].type==1 || signForm[edit_index].type==2")
					select(v-model="signForm[edit_index].notnull")
						option(value="0") 非必填
						option(value="1") 必填
				li(v-if="signForm[edit_index].type==5")
					input(type="file",placeholder="",v-on:change="upload_img(edit_index,$event)")
				li(v-if="signForm[edit_index].type==6")
					input(type="color",placeholder="字体颜色",v-model="signForm[edit_index].style.color")
				li(v-if="signForm[edit_index].type==6")

		.loading-fixed(v-if="loading")
			p {{loading_txt}}
block footer
	script  var signData=JSON.parse('!{JSON.stringify(data)}');
	script(src="/js/signEditor.js?v=#{_v}")
