extends ../layout
block content

	link(href="/css/board.css",rel="stylesheet")
	div.content_box
		div.top
			a.top_a(onclick='history.go(-1);')
				img.back_img(src='/img/房间列表/back.png')
			div.top_player
				img.player_icon#enemyHead(src='/img/test_icon.png')
				p.player_name.png
					span.p_name#enemyName 正在匹配对手
					br
					span.p_word 步时
					span.p_time#emeny_time 1:30
				div.play_state
					img#emeny_ready_not(src='/img/未准备.png')
					img#emeny_ready_ok(src='/img/已准备.png',style="display:none;")

		div.chessboard
			canvas#cav(width=360,height=405)
		div.bottom
			img.bot_icon(src='#{data.headimgurl}')
			p.bot_name
				span.p_name_bot=data.nickname
				br
				span.p_word_bot 步时
				span.p_time_bot#your_time 1:30
			//- div.bot_state
			//- 	img#readyBtn(src='/img/准备.png')
			//- 	img#cancelReadyBtn(src='/img/取消准备.png',style="display:none")
	script var user_name='#{data.nickname}'
	script var user_id='#{data.openid}'
	script var user_head='#{data.headimgurl}'
	script(src="/socket.io/socket.io.js")
	script.
		var initP={
			 ju1:{x:0,y:0},
			 ma1:{x:1,y:0},
			 xiang1:{x:2,y:0},
			 shi1:{x:3,y:0},
			 shuai1:{x:4,y:0},
			 pao1:{x:1,y:2},
			 zu1:{x:0,y:3},
			 ju1_2:{x:8,y:0},
			 ma1_2:{x:7,y:0},
			 xiang1_2:{x:6,y:0},
			 shi1_2:{x:5,y:0},
			 pao1_2:{x:7,y:2},
			 zu1_2:{x:2,y:3},
			 zu1_3:{x:4,y:3},
			 zu1_4:{x:6,y:3},
			 zu1_5:{x:8,y:3},
			 
			 ju2:{x:0,y:9},
			 ma2:{x:1,y:9},
			 xiang2:{x:2,y:9},
			 shi2:{x:3,y:9},
			 shuai2:{x:4,y:9},
			 pao2:{x:1,y:7},
			 zu2:{x:0,y:6},
			 ju2_2:{x:8,y:9},
			 ma2_2:{x:7,y:9},
			 xiang2_2:{x:6,y:9},
			 shi2_2:{x:5,y:9},
			 pao2_2:{x:7,y:7},
			 zu2_2:{x:2,y:6},
			 zu2_3:{x:4,y:6},
			 zu2_4:{x:6,y:6},
			 zu2_5:{x:8,y:6}
			}

	script(src="/js/chess/game.js")
	script(src="/js/chess/chessMethod.js")
	script(src="/js/chess/server.js")
	script.
		method.initGame();
	